@import url("https://fonts.googleapis.com/css2? family= Amatic+SC & family= Cinzel:wght@400;500;600;700;800;900 & family= Indie+Flower & família= Marcador+Permanente & família= Sigmar & família= Vollkorn:wght@400;500;600;700 & display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(assets/Wallpaper_papel_amassado.jpg);
}

.container_nav {
display: flex;
   margin-bottom: 3%;
  justify-content: center;
  align-items: center;
}

.navbar img {
  width: 30vw;
 margin-top: 5%;
}

.sobre_trueCrime {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  margin: 0% 5%;
  background-color: rgb(129, 139, 148);
}

.container_meio{
   background: rgba(0, 0, 0, 0.895);
   color: white;
   font-size: medium;
   padding: 5rem;
   margin-bottom: 8px;
}

.texto_esquerda{
    margin-right: 50%;
    padding: 5rem;
}

.texto_direita{
    margin-left: 50%;
    padding: 5rem;
}